
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

html,
body {
    height: 100%;
    background: #dde3fb;
}

* {
    padding: 0px;
    margin: 0px
}

a {
    text-decoration: none;
}

.navbar .nav-item .nav-link {
    text-transform: uppercase;
}
.navbar form .btn:hover {
    border-color: #69a1d4;
}

.carousel-item img{
    height: 90vh;
}

/* News letter */

.rows {
    height: 100vh
}

.form-control-newsletter {
    display: block;
    width: 100%;
    min-height: calc(1.5em + .75rem + 2px);
    padding: .575rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 52px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.card-newsletter {
    padding: 20px;
    background-color: #eee;
    padding-bottom: 50px;
    padding-top: 50px
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #69a1d4;;
    outline: 0;
    box-shadow: none
}

.border-rad {
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    color: #fff;
    background-color: #69a1d4 !important;
    border-color: #69a1d4 !important;
}

.border-rad:hover {
    background-color: #69a1d4 !important;
    border-color: #69a1d4 !important;
}
/* top categories */
.card {
    background-color: #eee;
}

.top-categories H2, .related-books-main H2{
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}
.category, .related-books {
    margin-bottom: 6rem;
}
.top-categories .category-name, .top-related-books{
    color:#69a1d4;
}


